button {
    height: 4cm;
    width: 4cm;
    border-radius: 20cm;
    animation: anim 2s ease-in-out 0s infinite forwards;
}

@keyframes anim {
    0% {
        background-color: rgb(8, 1, 7);
        width: 1cm;
        height: 1cm;
    }
    40%,
    60% {
        background-color: red;
        width: 20cm;
        height: 20cm;
    }
    100% {
        background-color: black;
        width: 1cm;
        height: 1cm;
    }
}
html{
  background-color:rgb(255, 91, 248);
}
