button {
    height: 4cm;
    width: 4cm;
    border-radius: 20cm;
    animation: anim 2s ease-in-out 0s infinite forwards;
}

@keyframes anim {
    0% {
        background-color: rgb(8, 1, 7);
        width: 0cm;
        height: 4cm;
    }
    40%,
    60% {
        background-color: red;
        width: 10cm;
        height: 10cm;
    }
    100% {
        background-color: black;
        width: 0cm;
        height: 4cm;
    }
}
